@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Karla", sans-serif;
    background-color: #1C1C1C;
}

.container-el {
    padding-inline: 52px;
    background-color: #ECFDF5;
    max-width: 550px;
    width: 100%;
    min-height: 550px;
}

.heading-el {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: -5%;
    line-height: 40px;
    margin-top: 115px;
    color: #1C1C1C;
    margin-bottom: 10px;
}

.heading-el span {
    color: #10B981;
    display: block;
}

.supporting-text-el {
    color: #6B7280;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: calc(51px / 2);
}

form {
    margin-bottom: 35px;
}

.pass-options {
    border: none;
    background-color: transparent;
    border-radius: 6px;
    padding: 15px 10px;
    border: 1px solid #10B981;
}

fieldset legend {
    text-transform: uppercase;
    font-size: 13px;
    background: #10B981;
    color: #FFFFFF;
    border-radius: 6px;
    outline: 1px solid #10B981;
    border: 1px solid #FFFFFF;
    padding: 4px 6px;
}

.pass-complexity {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #10B981;
    margin-bottom: 24px;
}

.pass-complexity > legend {
    text-transform: capitalize;
    padding: 2px 4px;
}

.pass-complexity {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pass-complexity div {
    display: flex;
    align-items: center;
    gap: 5px;
}

label {
    color: #6B7280;
    user-select: none;
}

input[type="number"] {
    line-height: 24px;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid #10B981;
    text-align: center;
    -moz-appearance: textfield; /* For Firefox */
    appearance: textfield; /* Standard property */
    margin-bottom: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* For Chrome/Safari */
    margin: 0; /* Remove margin */
}

input[type="number"]:focus {
    outline: none;
}

input[type="checkbox"] {
    accent-color: #10B981;
    border-color: red;
    cursor: pointer;
}


.generate-password-btn-el {
    background-color: #10B981;
    color: #FFFFFF;
    /* line-height: 24px; */
    font-weight: 500;
    font-family: inherit;
    font-size: 16px;
    border: none;
    padding: 9px 17px 9px 15px;
    box-shadow: 0px 1px 2px 0 #0005;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.generate-password-btn-el:hover {
    opacity: .7;
}

.line-el {
    background-color: #D5D4D8;
    height: 0px;
    border: none;
    border: 1px solid #D5D4D8;
    margin-bottom: calc(35px / 2);
}

.helper-text {
    font-size: 15px;
    margin-bottom: calc(35px / 2);
    color: #92400E;
}

.password-wrapper-el {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 32px;
}

.password-el {
    background-color: #1C1C1C;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
    flex-grow: 1;
    padding: 4px 15px 3px 15px;
    min-height: 32px;
}

.password-text-el {
    font-size: 16px;
    font-weight: 500;
    color: #10B981;
    line-height: 32px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    cursor: default;
}

.password-el i {
    font-size: 12px;
    position: absolute;
    top: 4px;
    right: 4px;
    color: #D5D4D8;
    background: #000;
    z-index: 2;
    cursor: pointer;
    opacity: .7;
    transition: .3s;
}

.password-el:hover {
    opacity: .7;
}

.password-el:hover i {
    opacity: 1;
}

@media (width < 475px) {
    .container-el {
        padding-inline: 32px;
    }
    .heading-el {
        font-size: 38px;
    }
    .password-wrapper-el {
        gap: 10px;
    }
}

@media (width < 400px) {
    .container-el {
        text-align: center;
    }

    .heading-el {
        font-size: 32px;
    }

    .supporting-text-el {
        font-size: 18px;
        margin-bottom: 42px;        
    }

    .generate-password-btn-el {
        width: 100%;
    }

    .password-wrapper-el {
        flex-direction: column;
        align-items: stretch;
    }
}